<!DOCTYPE html>
<html lang="en">
<head>
  <title>Midnight Stockers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"     integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>


<style type="text/css">
    .sidenav {
      padding-top: 20px;
      background-color: gray;
      height: 100%;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>

</head>
<body>

  <div class="col-sm-6 bg-dark"> <img src="top.jpg" class="rounded float-left img-fluid" alt="Midnight Stockers Logo">
  </div>
  <nav class="navbar navbar-expand-lg navbar-white bg-dark  text-center pr-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/midnight">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active border-right border-left">
        <a class="nav-link" href="/listings">Extended listings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active border-right">
        <a class="nav-link" href="account">User Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About Us <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="login" placeholder="Login" aria-label="Login">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
<div class="container mt-1">    
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 bg-white text-center">
        <h1 class="mt-5 mb-5"> Our Corportate Honchos</h1>
    <div class="row">
      <div class="card col-md-4" style="width: 18rem;">
        <img src="Kale1.jpg" class="card-img" alt="Kale">
        <div class="card-body" >
          <h5 class="card-title">Kale Nestor</h5>
          <h5 class="card-title">President</h5>
          <p class="card-text">That's me.</p>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <img src="Kale2.jpg" class="card-img" alt="Yes, Kale">
        <div class="card-body">
          <h5 class="card-title">K. N. Nestor</h5>
          <h5 class="card-title">Vice President</h5>
          <p class="card-text">They wanted me to have the same initials as my father without being Jr. But why Kale?  I never did get a satisfactory answer.</p>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <img src="Kale3.jpg" class="card-img" alt="That's right, Kale">
        <div class="card-body">
          <h5 class="card-title">CEO</h5>
          <h5 class="card-title">Not Norm</h5>
          <p class="card-text">My middle name is Norman, but I don't use it. Therefor I am Not Norm.</p>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <img src="Kale4.jpg" class="card-img" alt="Of course, it's Kale.">
        <div class="card-body">
          <h5 class="card-title">Just Kale</h5>
          <h5 class="card-title">Chairman of the Board</h5>
          <p class="card-text">I've learned recently that Kale is like a Scandavian Charles. But all my life I was a green, leafy, loose-headed vegetable.</p>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <img src="Kale5.jpg" class="card-img" alt="What else?, Kale">
        <div class="card-body">
          <h5 class="card-title">K. Nestor</h5>
          <h5 class="card-title">Web Designer</h5>
          <p class="card-text">What do you call the pattern of a shotgun blast on the wall behind a lawyer?  Art.</p>
        </div>
      </div>
      <div class="card col-md-4" style="width: 18rem;">
        <img src="Kale6.jpg" class="card-img" alt="Kale Kale Kale Kale KALE.">
        <div class="card-body">
          <h5 class="card-title">Dawg</h5>
          <h5 class="card-title">Gaffer</h5>
          <p class="card-text">That's what I give when asked for my name in a fast-food joint.  Make sure it has a "w."</p>
        </div>
      </div>          
      <div class="col-md-1">
      </div>
    </div>
  </div>
</div>
</div>
<footer class="container-fluid text-center">
  <p class=" text-center m-0 w-100"> Past performance does not guarantee future results.</p>
    <p class=" text-center m-0 w-100"> Trading is a high-risk business. You should trade only with funds
      whose loss will not impact your lifestyle.</p>
    <p class=" text-center m-0 w-100"> Actually.... maybe you should just go to Las Vegas.</p>
    <p class=" text-center m-0 w-100"> &copyMMXX The Midnight Stockers</p>
</footer>
</body>
</html>
