<!DOCTYPE html>
<html lang="en">
<head>
  <title>Midnight Stockers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"     integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>


<style type="text/css">
    .sidenav {
      padding-top: 20px;
      background-color: gray;
      height: 100%;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-white bg-dark color-white">
  <img src="top.jpg" class="rounded float-left" alt="Midnight Stockers Logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/midnight">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listings">Extended listings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="account">User Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About Us <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="login" placeholder="Login" aria-label="Login">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
  
<div class="container text-center">
<h3>What We Do</h3><br>
<div class="row">
  <div class="col-sm-4">
    <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    <p>Current Project</p>
  </div>
  <div class="col-sm-4"> 
    <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    <p>Project 2</p>    
  </div>
  <div class="col-sm-4">
    <div class="well">
     <p>      <ul>
      <li>MFST 1003 1/4 </li>
      <li>HOG 1003 1/4 </li>
      <li>TLSA 1003 1/4 </li>
      <li>KALA 1003 1/4 </li>
      <li>ROG 1003 1/4 </li>
  </ul></p>
    </div>
    <div class="well">
     <p>Some text..</p>
    </div>
  </div>
</div>
</div><br>




<footer class="container-fluid text-center">
  <p class=" text-center m-0 w-100"> Past performance does not guarantee future results.</p>
    <p class=" text-center m-0 w-100"> Trading is a high-risk business. You should trade only with funds
      whose loss will not impact your lifestyle.</p>
    <p class=" text-center m-0 w-100"> Actually.... maybe you should just go to Las Vegas.</p>
    <p class=" text-center m-0 w-100"> &copyMMXX The Midnight Stockers</p>
</footer>
</body>
</html>
