<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body class= "bg-dark mx-0 px-0"></body>
    <div>
      <div class="row">

        <div class="col-md-1 bg-success p-0">button</div>
        <div class="col-md-1 p-0">button</div>
        <div class="col-md-1 bg-success p-0">button</div>
        <header class="col-md-6 p-0 text-center">
          <img  src="./assets/images/top.jpg"  alt="Midnight Stockers">
          <div class="bg-white by-2">
            this is where the ticker goes
          </div>
        </header>
        <div class="col-md-1 bg-success p-0">button</div>
        <div class="col-md-1 p-0">button</div>
        <div class="col-md-1 bg-success p-0">button</div>
      </div>
      <div class="row h-100">
                <div  id="ads" class="col-md-3 h-100 bg-light p-0 m-0">
          <script type="text/javascript" src="https://static.stooq.com/pp/wc.js"></script>

        </div>

        <div id="picks" class="col-md-6 h-100 bg-white p-0 m-0">
          <H2>Gonna BUY Now....</H2>
          <ul>
            <li>MFST 1003 1/4 </li>
            <li>HOG 1003 1/4 </li>
            <li>TLSA 1003 1/4 </li>
            <li>KALA 1003 1/4 </li>
            <li>ROG 1003 1/4 </li>
          </ul>
        </div>
        <div id="news" class="col-md-3 h-100 bg-light p-0 m-0">
          <div class="card-img-top w-100 x-0 y-0"></div>
          <h4>This is what Trump means by Fake News</h4>
          <p>Voluptate cupiditate rerum ratione consectetur debitis repellat amet consequatur, ut fugit et molestiae dicta dolore eos eum ducimus totam quaerat explicabo magni!</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing e ut fugit et molestiae dicta dolore eos eum ducimus totam quaerat explicabo magni!</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. t amet consequatur, ut fugit et molestiae dicta dolore eos eum ducimus totam quaerat explicabo magni!</p>
          </div>
        <p class="col-md-12 text-center bg-white m-0" > Past performance does not guarantee future results.</p>
        <p class="col-md-12 text-center bg-white m-0" > Trading is a high-risk business.  You should trade only with funds whose loss will not impact your lifestyle.</p>
        <p class="col-md-12 text-center bg-white m-0" > Actually.... maybe you should just go to Las Vegas.</p>
        <p class="col-md-12 text-center bg-white m-0" > &copyMMXX The Midnight Stockers</p>
      </div>
    </div>
    <script src="assets/javascript/index.js" async defer></script>
  </body>
</html>